$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

@tailwind base;
@tailwind screens;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  // background-image: url('../assets/bg-placeholder.jpg');
  font-family: 'Teko', sans-serif;
  text-shadow: 1px 1px 3px #000;
  color: #fff;
  user-select: none;

  /* font-family: 'Orbitron', sans-serif; */

  @apply bg-cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#app {
  height: 100%;
}
